small{
    margin: 8px;
}

h2{
    margin: 10px;
}

.gallery{
    background: #005139;
    height: 35rem;
    margin-top: 6px;
    padding: 10px;
    border-radius: 6px;
    // opacity: 0.8;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;

    .animal{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 45%;
        height: 91%;
        z-index: 1;
        transform: translate(5%, -17%);
        opacity: 0.4;
    }
    
}
.grid-item{
    border: 1px solid black;
    width: 19rem;
    height: 16rem;
    border-radius: 9px;
}
.column{
    img{
        width: 2em;
        height: 10%;
        margin-left: 8em;
        padding: 9px;
    }
    h4{
        padding: 9px;
        text-align: center;
    }

    p{
        padding: 5px;
        text-align: center;
    }
}

.button{
    position: absolute;
    top: 97%;
    left: 41%;
    padding: 20px;
    width: 8rem;
    text-align: center;
    border-radius: 15px;
    background-color: black;

    a{
        color: #f5f5ff;
        text-align: center;
    }
}

video{
    margin-top: 10px;
    border-radius: 9px;
    z-index: -1;
}
